{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="ui grid">
        <div class="four wide column"> Dasdsad</div>
        <div class="four wide column"> SADASDSAD</div>
        <div class="four wide column"> SDASDASD</div>
        <div class="four wide column"></div>
        <div class="four wide column"></div>
        <div class="four wide column"></div>
        <div class="four wide column"></div>
        <div class="four wide column"></div>
    </div>
{% endblock %}