{% extends "base.html" %}
{% load staticfiles %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'core/show_videos.js' %}"></script>
    <script type="text/javascript">
        window._URLS = {
            videos : "{% url 'videos' %}",
        }
    </script>
{% endblock %}

{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'core/core.css' %}">
{% endblock %}

{% block content %}
<div class="row">
  <a href="{% url 'publish' %}">
      <div class="ui button">
          Publish video
      </div>
  </a>
  <div class="ui divider"></div>
</div>

{% for category_info in categories %}
  <div class="sixteen wide column">
    {% include 'core/videos.html' with category=category_info.category videos=category_info.videos has_next=category_info.has_next %}
  </div>
{% endfor %}

{% endblock %}
