{% extends 'base.html' %}
{% load staticfiles %}


{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'core/publish_query.js' %}"></script>

{% endblock %}

{% block content %}
<div class="ui centered grid">
    <h1>Page for publications</h1>
    <div class="twelve wide column">
        <div class="ui segment">
            <div class="ui centered grid">
                <div class="six wide column">
                    <form id="url_form" class="ui large icon input" method="POST">
                            {% csrf_token %}
                            {{ form }}
                            <button class="ui button" type="button" id="btn_go">Upload</button>
                </div>
                        <div class="ui divider"></div>
                        <div id="player"></div>
                        <div class="ui divider"></div>
                            <div class="ui centered grid" id="results">
                                    <div class="four wide column">
                                        <h2>Title:</h2>
                                        <div id="title"></div>
                                        <h2>Description:</h2>
                                        <div id='description'></div>
                                    </div>
                                    <div class="four wide column">
                                        <h2>Author:</h2>
                                        <div id='author'></div>
                                    </div>
                            </div>
                                <div id="checkboxes">
                                    <div class="ui divider">Choose video categories</div>
                                    {% for category in categories %}
                                        <div class="ui checkbox" id="checkbox_{{ forloop.counter }}">
                                            <input type="checkbox" name="fun" value="{{ forloop.counter }}">
                                            <label>{{ category.name }}</label>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="ui divider"></div>
                        <div class="ui five column centered grid">
                            <button class="large ui button" type="submit" id="publish">Publish</button>
                        </div>
                    </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

