{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'core/publish_query.js' %}"></script>
    <script type="text/javascript">
        window._URLS = {
            video_info : "{% url 'video_info' %}"
        }
    </script>

{% endblock %}

{% block content %}
<div class="ui centered grid">
    <div class="twelve wide column">
        <div class="ui steps">
            <div id="step-add-video" class="active step">
                <i class="youtube icon"></i>
                <div class="content">
                    <div class="title">Add video</div>
                    <div class="description">Post your video's url</div>
                </div>
            </div>
            <div id="step-select-categories" class="disabled step">
                <i class="info icon"></i>
                <div class="content">
                    <div class="title">Select categories</div>
                </div>
            </div>
        </div>

        <div class="ui segment">
            <div class="ui centered grid">
                <div class="row">
                    <div class="sixteen wide centered column">
                        <form id="url_form" class="ui form" method="POST">
                            {% csrf_token %}
                            <div class="ui large action left icon input">
                                <i class="search icon"></i>
                                {% render_field form.video_url placeholder="Type YouTube video url" %}
                                <div id="btn_go" class="ui teal button">Upload</div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="ui divider step2" style="display:none"></div>

                <div id="video-block" class="row step2" style="display:none">
                    <div id="player"></div>
                </div>

                <div class="ui divider step2" style="display:none"></div>

                <div id="info-block" class="row step2" style="display:none">
                    <div class="sixteen wide column">
                        <div class="ui items">
                            <div class="item">
                                <div class="image">
                                    <img id="author_avatar" class="" src="" alt="">
                                </div>
                                <div class="content">
                                    <a id="title" class="header"></a>
                                    <div class="meta">
                                        <span id="author"></span>
                                    </div>
                                    <div id="description" class="description"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row step2" style="display:none">
                    <div class="ui divider"></div>
                    <div class="ten wide column">
                        <h4 class="ui header">Select categories</h4>
                        <form id="submit-form" class="ui form" method="POST">
                            {% csrf_token %}
                            <input id="input_url" type="text" name="video_url" style="display:none">

                            {% for category in categories %}
                            <div class="field">
                                <div class="ui checkbox">
                                    <input type="checkbox" name="value" value="{{ category.id }}" style="display:none">
                                    <label>{{ category.name }}</label>
                                </div>
                            </div>
                            {% endfor %}
                        </form>
                    </div>
                </div>

                <div class="row step2" style="display:none">
                    <div class="ui divider"></div>
                    <button id="publish_button" class="large ui blue button" type="submit">Publish</button>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>
{% endblock %}

