{% extends 'base.html' %}
{% load staticfiles %}


{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'core/publish_query.js' %}"></script>
    <script type="text/javascript">
        window._URLS = {
            video_info : "{% url 'video_info' %}"
        }
    </script>

{% endblock %}

{% block content %}
<div class="ui centered grid">
    <h1>Page for publications</h1>
    <div class="twelve wide column">
        <div class="ui segment">
            <div class="ui centered grid">
                <div class="six wide column">
                    <form id="url_form" method="POST">
                        {% csrf_token %}
                        <div class="ui form">
                          <div class="field">
                            {{ form }}
                          </div>
                        </div>
                        <br>
                        <div class="ui centered grid">
                            <button class="ui button" type="button" id="btn_go">Upload</button>
                        </div>
                    </form>
                </div>
                <div id="results" style="display:none">
                    <div class="ui divider"></div>
                    <div id="player"></div>
                    <div class="ui divider"></div>
                        <div class="ui centered grid">
                            <div class="four wide column">
                                <h2>Title:</h2>
                                <div id="title"></div>
                                <h2>Description:</h2>
                                <div id="description"></div>
                            </div>
                            <div class="four wide column">
                                <h2>Author:</h2>
                                <h3><i><div id="author"></div></i></h3>
                                <br>
                                <div id="auth_avatar"></div>
                            </div>
                        </div>
                    <form method="POST" id="url_form">
                        {% csrf_token %}
                        <input id="input_url" type="text" name="video_url" style="display:none">
                        <div id="checkboxes">
                        <div class="ui divider">Choose video categories</div>
                            {% for category in categories %}
                            <div class="ui checkbox" id="checkbox_{{ forloop.counter }}">
                                <input type="checkbox" name="value" value="{{ category.id }}">
                                <label>{{ category.name }}</label>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="ui divider"></div>
                        <br>
                        <div class="ui five column centered grid">
                            <button class="large ui button" type="submit" id="publish_btn">
                                Publish
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>
{% endblock %}

