<div id="{{ category.id }}" value="content">
  <div class="ui four column grid" >
        <h2> {{ category.name }} </h2>
      {% for video in videos %}
      <div class="column">
          <div class="ui cards">
            <div class="card">
              <a class="image">
                <img src="{{ video.thumbnail }}">
              </a>
              <div class="content">
                <a class="header">{{ video.name }}</a>
                <div class="meta">
                  <a>{{ video.author.name }}</a>
                </div>
                <div class="meta">
                  <a>Views <b>{{ video.views_count }}</b></a>
                </div>
                <div class="description">
                </div>
                <div class="ui star rating" data-rating="{{ video.ratio }}" id="ratio"></div>
              </div>
            </div>
          </div>
      </div>
        {% if forloop.last %}
          <div id="video_count" data-video-count="{{ forloop.counter }}"></div>
        {% endif %}
      {% endfor %}
      <div class="ui divider"></div>
      <div class="ui centered grid">
        <button class="large ui button" type="button" id="more" data-category-id="{{ category.id }}">
          Show more...
        </button>
      </div>
      <div class="ui divider"></div>
  </div>
</div>