.card .image {
    position: relative;
    width: 100%;
}

.card .image:before {
    content: "";  display: block;
    padding-top: 60%;
}

.card .image img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100% !important;
}
